<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="css/main.css">

  <title>Moonlight Eats</title>
</head>
<body>
	<!-- Header ejs -->
	<%- include('../partials/header',{user:user}) -%>
	<div class="container">

		<div class="content">
			<h1>About Us</h1>
			<p>
				Do right and far exceed expectations daily. We do the right thing and lead by putting people first. Each and every connection with our team, guests and shareholders is our opportunity to create an experience that FEEDs – Far Exceeds Expectations Daily – and show how much we care.
			</p>
		</div>
		
	</div>
	<!-- Footer ejs -->
	<%- include('../partials/footer') -%>
</body>
</html>