<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="css/main.css">

  <title>Moonlight Eats</title>
</head>
<body>
	<!-- Header ejs -->
	<%- include('../partials/header',{user:user}) -%>
	<div class="container">

		<div class="content">
			<p>
				Welcome to Moonlight Eats, Charlotte's best sunset restaurant.
				All kinds of cusines such as Asian, Italian, Mediterrenean, Greek, Vegan and many more options available to dine with.
				The experience is what matters most at our restaurant. We are committed to providing world-class service.
				Top Chefs are here to make your favorite delicacies.
				It's good mood food.
				Deliciousness jumping into the mouth, we serve with Passion.
				We also provide online ordering options. 
				<br/>VIP members Hold Special benefits with club access.

			</p>
		</div>
		
	</div>
	<!-- Footer ejs -->
	<%- include('../partials/footer') -%>
</body>
</html>