<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/main.css">

    <title>Moonlight Eats</title>
</head>

<body>
    <!-- Header ejs -->
    <%- include('../partials/header',{user:user}) -%>
        <div class="container">

            <div class="content">
                <h2>Login</h2>
                <form action='/user/login' method="POST">
                    <label class="loginfield">Enter Username</label>
                    <input type="text" name="username" class="loginfield">

                    <label class="loginfield">Password:</label>
                    <input type="password" name="password" class="loginfield">
                    <br>
                    <input type="submit" value="Login" class="login-btn">

                </form>
            </div>

        </div>
        <!-- Footer ejs -->
        <%- include('../partials/footer') -%>
</body>

</html>