<header>
    <div class="container">
        <div class="logo_container">
            <a href="/">
                <div class="logo">
                    <img src="images/logo_transparent.png" alt="Logo" height="200" width="200">
                </div>
                <div class="logo_text">
                    <p class="text">
                        <i>Moonlight Eats</i>
                    </p>
                </div>
            </a>
        </div>
        <div class="menu">
            <ul>
                <li class="connections"><a href="/newConnection">Order Online</a> </li>
                <li class="connections"><a href="/">Logout</a> </li>
                <li class="connections"><a href="/savedConnections">My Orders</a> </li>
            </ul>
        </div>
        <div class="nav-menu">
            <p class="nav-menu-item"><a href="/connections"><i> Connections</i></a></p>
        </div>
    </div>
</header>